### EXPLORATORY DATA ANALYSIS

#### Importing data

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Import data from notebook 1
%store -r data_scratch
%store -r data_draw

In [ ]:
# Confirming data
data_scratch

,Amount Won,US Citizen Flag,Claimant City,Claimant State,Claimant County,Scratch Ticket Cost,Retailer Name,Retailer City,Retailer County
0,30.0,Yes,Grand Rapids,MI,Kent,10.0,TRISTAR #10,San Marcos,Hays
1,20.0,Not Provided,San Antonio,TX,Bexar,20.0,7 DAY CORNER STORE,San Antonio,Bexar
2,20.0,Not Provided,San Antonio,TX,Bexar,20.0,FUEL STATION 4,Castle Hills,Bexar
3,5.0,Yes,Los Angeles,CA,Los Angeles,3.0,PETRO STOPPING CENTERS #302,Weatherford,Parker
4,2.0,Not Provided,Fort Deposit,AL,Lowndes,1.0,24 EXPRESS,Houston,Harris
...,...,...,...,...,...,...,...,...,...
2855133,1000.0,Yes,Kyle,TX,Hays,100.0,STRIPES STORE 40856H,Robstown,Nueces
2855134,1000.0,No,Fort Worth,TX,Tarrant,20.0,QUIKTRIP #873,Fort Worth,Tarrant
2855135,1000.0,Yes,Rockwall,TX,Rockwall,100.0,TEXACO,Mesquite,Dallas
2855136,1000.0,Yes,Leander,TX,Williamson,100.0,LEANDER QUICK STOP,Leander,Williamson
2855137,1000.0,Yes,Austin,TX,Travis,100.0,HEB FOOD STORE #404,Bee Cave,Travis

In [6]:
data_draw

,Amount Won,US Citizen Flag,Claimant City,Claimant State,Claimant County,Scratch Ticket or Draw Game,Date Ticket Sold,Retailer Name,Retailer City,Retailer County
190,2500.0,Yes,Silsbee,TX,Hardin,Pick 3â„¢,12/16/2016,Unknown,San Antonio,Harris
233,2500.0,Yes,Silsbee,TX,Hardin,Pick 3â„¢,03/28/2021,Unknown,Dallas,Harris
359,800.0,Yes,Silsbee,TX,Hardin,Pick 3â„¢,01/05/2025,Unknown,Bryan,Freestone
421,2500.0,Yes,Silsbee,TX,Hardin,Pick 3â„¢,01/16/2019,Unknown,Manvel,Harris
444,500.0,Yes,El Paso,TX,Dallas,Pick 3â„¢,04/17/2020,Unknown,San Benito,Travis
...,...,...,...,...,...,...,...,...,...,...
2856278,675.0,Yes,Forney,TX,Kaufman,Daily 4â„¢,04/12/2025,FSK FOOD MART,Balch Springs,Dallas
2856279,5000.0,Yes,Houston,TX,Harris,Daily 4â„¢,04/11/2025,LA LATINOS FOOD MART,Houston,Harris
2856280,731.0,Yes,Spring,TX,Harris,Daily 4â„¢,04/14/2025,FOOD TOWN #215,Spring,Harris
2856281,22.0,Yes,Katy,TX,Fort Bend,Texas Two StepÂ®,03/23/2025,HEB FOOD STORE #596,Katy,Fort Bend
2856282,1634.0,Yes,Katy,TX,Fort Bend,Texas Two StepÂ®,03/23/2025,HEB FOOD STORE #596,Katy,Fort Bend

#### Amount Won to US Citizenship

In [17]:
pd.crosstab(data_scratch['US Citizen Flag'], data_scratch['Amount Won'], normalize="columns").T

US Citizen Flag        No  Not Provided  Unknown       Yes
Amount Won
0.0              0.000000      0.000000      0.0  1.000000
1.0              0.000400      0.335204      0.0  0.664397
2.0              0.000465      0.302668      0.0  0.696867
3.0              0.001048      0.289034      0.0  0.709918
4.0              0.000629      0.320424      0.0  0.678947
...                   ...           ...      ...       ...
5000000.0        0.000000      0.000000      0.0  1.000000
5200000.0        0.000000      0.000000      0.0  1.000000
7500000.0        0.000000      0.000000      0.0  1.000000
10000000.0       0.000000      0.000000      0.0  1.000000
20000000.0       0.333333      0.000000      0.0  0.666667

[377 rows x 4 columns]

In [18]:
pd.crosstab(data_draw['US Citizen Flag'], data_draw['Amount Won'], normalize="columns").T

US Citizen Flag        No  Not Provided  Unknown       Yes
Amount Won
1.0              0.003925      0.469731      0.0  0.526344
2.0              0.002113      0.227348      0.0  0.770539
3.0              0.002791      0.499592      0.0  0.497618
4.0              0.003960      0.459477      0.0  0.536563
5.0              0.001192      0.520055      0.0  0.478753
...                   ...           ...      ...       ...
128000000.0      0.000000      0.000000      0.0  1.000000
144000000.0      0.000000      0.000000      0.0  1.000000
157091592.0      0.000000      0.000000      0.0  1.000000
157367045.0      0.000000      0.000000      0.0  1.000000
409297624.0      0.000000      0.000000      0.0  1.000000

[8140 rows x 4 columns]

#### Amount Won to Claimant city

In [27]:
pd.crosstab(data_scratch['Claimant City'], data_scratch['Amount Won'], normalize="columns").T

Claimant City,.Magnolia,29 Palms,63376,70458,74021,8 Mile,81415,Abbeville,Abbotsford,Abbott,...,Zephyr,Zephyr Cove,Zephyrhills,Zimmerman,Zion,Zionsville,Zionville,Zumbro Falls,Zuni,Zwolle
Amount Won,,,,,,,,,,,,,,,,,,,,,
0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
1.0,0.0,0.000000,0.000000,0.000017,0.0,0.0,0.000009,0.000051,0.000000,0.0,...,0.000009,0.000000,0.000000,0.000000,0.000026,0.000043,0.0,0.0,0.0,0.000009
2.0,0.0,0.000017,0.000006,0.000006,0.0,0.0,0.000000,0.000050,0.000006,0.0,...,0.000011,0.000000,0.000000,0.000000,0.000011,0.000006,0.0,0.0,0.0,0.000000
3.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000128,0.000000,0.0,...,0.000000,0.000021,0.000021,0.000021,0.000021,0.000021,0.0,0.0,0.0,0.000000
4.0,0.0,0.000014,0.000028,0.000000,0.0,0.0,0.000000,0.000042,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000014,0.000014,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5000000.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
5200000.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
7500000.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
10000000.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
20000000.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000

In [20]:
pd.crosstab(data_draw['Claimant City'], data_draw['Amount Won'], normalize="columns").T

Claimant City,.Missouricity,0,03910 Mexico Df,0dessa,29 Palms,36730 Salamanca Gto,93101,?Lamos De San Lorenzo (Fraccio,Aabilene,Aafb,...,Zephyrhills,Zhong Li Qu,Zimmerman,Zion,Zionsville,Zoetermeer,Zona 10 Guatemala,Zumbrota,Zwolle,\Sugar Land
Amount Won,,,,,,,,,,,,,,,,,,,,,
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000333,0.000000,0.0,0.000000,0.000000,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000021,0.000000,0.000000,0.000021,0.000021,0.000021,0.0,0.000000,0.000000,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000034,0.0,0.0,0.000034,...,0.000136,0.000034,0.000000,0.000000,0.000034,0.000000,0.0,0.000000,0.000000,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000028,0.000000,0.000000,0.000028,0.000000,0.000000,0.0,0.000028,0.000028,0.0
5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000092,0.000000,0.000092,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
144000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
157091592.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
157367045.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
409297624.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0

#### Amount Won to Scratch Ticket Cost/Draw Game Type

In [28]:
pd.crosstab(data_scratch['Scratch Ticket Cost'], data_scratch['Amount Won'], normalize="columns").T

Scratch Ticket Cost,1.0,2.0,3.0,5.0,7.0,10.0,20.0,25.0,30.0,50.0,100.0
Amount Won,,,,,,,,,,,
0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.00,0.0,0.0,0.000000,0.000000
1.0,0.996744,0.000051,0.000000,0.003205,0.0,0.000000,0.00,0.0,0.0,0.000000,0.000000
2.0,0.396489,0.602587,0.000000,0.000924,0.0,0.000000,0.00,0.0,0.0,0.000000,0.000000
3.0,0.243543,0.221162,0.535273,0.000021,0.0,0.000000,0.00,0.0,0.0,0.000000,0.000000
4.0,0.184220,0.779904,0.035736,0.000140,0.0,0.000000,0.00,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
5000000.0,0.000000,0.000000,0.000000,0.000000,0.0,0.322581,0.00,0.0,0.0,0.645161,0.032258
5200000.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.00,0.0,0.0,0.000000,0.000000
7500000.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.28,0.0,0.0,0.600000,0.120000
10000000.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.0,1.000000,0.000000
20000000.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.0,0.0,0.000000,1.000000

In [30]:
pd.crosstab(data_draw['Scratch Ticket or Draw Game'], data_draw['Amount Won'], normalize="columns").T

Scratch Ticket or Draw Game,All or Nothingâ„¢,Branded Draw Game,Cash FiveÂ®,Daily 4â„¢,Lotto TexasÂ®,Mega MillionsÂ®,Pick 3â„¢,PowerballÂ®,Texas Millionsâ„¢,Texas Triple Chanceâ„¢,Texas Two StepÂ®
Amount Won,,,,,,,,,,,
1.0,0.000000,0.000000,0.319518,0.000000,0.000067,0.680415,0.000000,0.000000,0.0,0.000000,0.000000
2.0,0.108914,0.000000,0.317705,0.000000,0.283102,0.272914,0.000000,0.000021,0.0,0.017343,0.000000
3.0,0.001702,0.000000,0.000136,0.026817,0.710795,0.191192,0.024469,0.044888,0.0,0.000000,0.000000
4.0,0.001032,0.000000,0.104473,0.013833,0.000809,0.312612,0.006303,0.555723,0.0,0.005215,0.000000
5.0,0.000000,0.000413,0.000138,0.006968,0.560853,0.070089,0.004446,0.000000,0.0,0.015219,0.341875
...,...,...,...,...,...,...,...,...,...,...,...
128000000.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000
144000000.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000
157091592.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000
157367045.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000
409297624.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000

#### Amount Won to Retailer Name

In [31]:
pd.crosstab(data_scratch['Retailer Name'], data_scratch['Amount Won'], normalize="columns").T

Retailer Name,# 88 STORE,#1 CENTURY FOOD STORE,#1 CITGO,#1 CITGO MART,#1 FOOD STORE,#1 PICK N GO,#1 REVEILLE FOOD STORE,#1 STORE,#1 STORE FOOD & CONVENIENCE,#5 S & A GROCERY,...,ZOOM ZOOM,ZOOM ZOOM #3,ZOOM ZOOM #4,ZOOM ZOOM 4,ZOOM ZOOM FOOD MART,ZOOM-IN 6,ZOOOM GROCERY,ZQ MART,ZTAO MARKET PLACE,ZVELS.COM
Amount Won,,,,,,,,,,,,,,,,,,,,,
0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1.0,0.0,0.0,0.0,0.0,0.000017,0.000000,0.000009,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000009,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.000006,0.000022,0.000000,0.0,0.0,0.000006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000006,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.000043,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.000000,0.000014,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5000000.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5200000.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
7500000.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
10000000.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
20000000.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [32]:
pd.crosstab(data_draw['Retailer Name'], data_draw['Amount Won'], normalize="columns").T

Retailer Name,# 88 STORE,#1 C-STORE,#1 CENTURY FOOD STORE,#1 CHOICE FOOD STORE,#1 CITGO,#1 CITGO MART,#1 EXPRESS FOOD MART,#1 FOOD MART,#1 FOOD STORE,#1 PICK N GO,...,ZQ MART,ZS FOOD MART,ZS FOOD MART #2,ZTAO MARKET PLACE,ZVELS.COM,s STOP SHOP #1,s STOP SHOP #2,s STUFF & MORE,s TOBACCO PLUS,s1.00 PLUS GRO. BEER CIG. & LO
Amount Won,,,,,,,,,,,,,,,,,,,,,
1.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.000000,0.000000,0.000010,0.0,0.00001,0.000000,0.0,0.0,0.000031,0.0,...,0.00001,0.0,0.0,0.000021,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.000034,0.000000,0.000034,0.0,0.00000,0.000034,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000028,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5.0,0.000000,0.000275,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000046,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128000000.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
144000000.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
157091592.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
157367045.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
409297624.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

### PRELIMINARY FINDINGS

It appears that US Citizens are more likely to win the lottery, but we have to compare this to the ratio of US Citizens to those who are not in the Texas area since this number could be due to the majority of players being US Citizens. 

Higher scratch tickets and MegaMillion seem to yield the highest prize pools, and the rest of the data is too vast to reliably make initial observations.

#### Saving the Data

In [33]:
data_scratch.isna().sum()

Amount Won             0
US Citizen Flag        0
Claimant City          0
Claimant State         0
Claimant County        0
Scratch Ticket Cost    0
Retailer Name          0
Retailer City          0
Retailer County        0
dtype: int64

In [34]:
data_draw.isna().sum()

Amount Won                     0
US Citizen Flag                0
Claimant City                  0
Claimant State                 0
Claimant County                0
Scratch Ticket or Draw Game    0
Date Ticket Sold               0
Retailer Name                  0
Retailer City                  0
Retailer County                0
dtype: int64

In [35]:
data_scratch.to_csv('Scratch_Ticket.csv')

In [36]:
data_draw.to_csv('Draw_Ticket.csv')